body {
  background-color: #202020;
  color: whitesmoke;
}
h1 {
  text-align: center;
  font-size: 4em;
}
p {
  font-size: 1.4em;
}
/* BUTTON */
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #111;
}

button:active {
  background-color: #133d14;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#project-button a {
  text-decoration: none;
  color: white;
}
/* --------------------------- */

/* ----------NAVBAR---------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 1.5em;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04aa6d;
}
/* ---------- ##### ---------- */

/* ----------ABOUT---------- */

/* ---------- ##### ---------- */

/* ----------PROJECT---------- */
article,
.details {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  background-color: #04aa6d;
}

.cards,
.details {
  padding: 10px;
  gap: 4px;
  margin: auto;
  margin-bottom: 10px;
}

.cards a {
  color: white;
}

.project-detail {
  text-align: center;
  font-size: 2em;
}

.container-detail {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-detail h2 {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-detail a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

/* ---------- ##### ---------- */

/* ----------TASK---------- */

/* ---------- ##### ---------- */

/* ----------CREATE TASK---------- */

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.input {
  display: block;
  width: 100%;
  padding-top: 20px;
}

.area {
  display: block;
  width: 100%;
}

/* ---------- ##### ---------- */

/* ----------CREATE PROJECT---------- */

/* ---------- ##### ---------- */

/* ----------FOOTER---------- */
footer {
  background-color: #333;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* ---------- ##### ---------- */
