{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'projects' %}">Projects</a></li>
          <li><a href="{% url 'task' %}">Task</a></li>
          <li><a href="{% url 'create_task' %}">Create Task</a></li>
          <li><a href="{% url 'create_projects' %}">Create Projects</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
      {% block footer %} &copy; 2024 Django - Project, Inc. Todas las marcas
      comerciales a las que se hace referencia son propiedad de sus respectivos
      dueños. {% endblock %}
    </footer>
  </body>
</html>
