<header>
  <nav>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/task">Task</a></p>
  </nav>
</header>

<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima rerum atque
  porro cum exercitationem delectus natus optio hic dolorum in! Repellat
  officiis repellendus voluptates molestiae maxime quas eaque ratione debitis
  optio earum tenetur, facilis quidem aliquam incidunt distinctio dolor tempora
  similique! Error, est eos? Incidunt quo sed molestias rem excepturi dicta
  commodi, magnam quae dolores illum neque doloremque atque possimus voluptas
  veniam aut. Mollitia at deleniti exercitationem quas, dolores id incidunt
  obcaecati corrupti facilis eum ratione commodi quasi nam nisi, illo animi
  perferendis consequatur sed sequi nulla blanditiis, amet laudantium.
  Voluptatum temporibus ullam quam qui ea in ipsum consequuntur modi!
</p>

<p>Webside created by: {{ username }}</p>
